* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background-color: #2f3238;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url('./images/main.jpg');
  background-size: cover;
  position: relative;
}

.myanmar {
  width: 100%;
  height: 400px;
  margin: 1em 0 0 0;
  /*background-image: url('./images/myanmar-cover.jpg');*/
  background-size: cover;
  position: relative;
  border-top: 2px solid rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.5);
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(128, 42, 40, 0.3) 0%, rgba(41, 44, 48, 0.5) 75%);
  opacity: 1;
}

.filter2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(121, 110, 92, 0.7) 0%, rgba(52, 56, 57, 0.8) 75%);
  opacity: 1;
}

.filterP {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: -webkit-linear-gradient(top, rgba(179, 179, 179, 0.2) 0%, rgba(47, 54, 68, 0.7) 100%);*/
  /*background: linear-gradient(to bottom, rgba(179, 179, 179, 0.2) 0%, rgba(47, 54, 68, 0.7) 100%);*/
  opacity: 0.6;
}

.filterG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: -webkit-linear-gradient(top, rgba(179, 179, 179, 0.2) 0%, rgba(66, 46, 78, 0.7) 100%);*/
  /*background: linear-gradient(to bottom, rgba(179, 179, 179, 0.2) 0%, rgba(66, 46, 78, 0.7) 100%);*/
  opacity: 0.6;
}

.filterT {


}

.country-link {
  display: flex;
  width: 25%;
}

.country-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
}

.country-logo-home {
  width: 100%;
  height: 100%;
  float: left;
  cursor: pointer;
}

.title {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 25%;
}

.date-title {
  color: white;
  font-size: 40px;
  position: absolute;
  left: 120px;
  top: 50%;
  margin-top: -15px;
  height: 30px;
  text-align: center;
}

.subtitle {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 30%;
  font-style: italic;
}

.article-section {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: url('./images/main.jpg');*/
  background-size: cover;
  position: relative;
}

.article-title {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 75%;
  height: 40px;
  margin: auto;
  text-align: center;
  z-index: 2;
}

.article-title:hover {
  text-decoration: underline;
  transition: 1s all;
  cursor: pointer;
}

.text-container {
  padding: 50px;
}

.paragraph {
  font-size: 16px;
  font-weight: 100;
  color: white;
  margin: 1em 0;
  letter-spacing: 1px;
  font-family: 'Quicksand', sans-serif;
}

.squareTitle {
  color: white;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  text-align: right;
  padding: 10px;
}

.p-1 {
  background-image: url('./images/p1.jpg');
}

.g-1 {
  background-image: url('./images/g1.jpg');
}

.p-2 {
  background-image: url('./images/p2.jpg');
}

.g-2 {
  background-image: url('./images/g2.jpg');
}

.p-3 {
  background-image: url('./images/p3.jpg');
}

.g-3 {
  background-image: url('./images/g3.jpg');
}

.p-4 {
  background-image: url('./images/p4.jpg');
}

.g-4 {
  background-image: url('./images/g4.jpg');
}

.p-5 {
  background-image: url('./images/p5.jpg');
}

.g-5 {
  background-image: url('./images/g5.jpg');
}

.p-6 {
  background-image: url('./images/p6.jpg');
}

.g-6 {
  background-image: url('./images/g6.jpg');
}

.p-7 {
  background-image: url('./images/p7.jpg');
}

.g-7 {
  background-image: url('./images/g7.jpg');
}

.p-8 {
  background-image: url('./images/p8.jpg');
}

.g-8 {
  background-image: url('./images/g8.jpg');
}

.p-9 {
  background-image: url('./images/p9.jpg');
}

.g-9 {
  background-image: url('./images/g9.jpg');
}

.p-10 {
  background-image: url('./images/p10.jpg');
}

.g-10 {
  background-image: url('./images/g10.jpg');
}

.p-11 {
  background-image: url('./images/p11.jpg');
}

.g-11 {
  background-image: url('./images/g11.jpg');
}

.p-12 {
  background-image: url('./images/p12.jpg');
}

.g-12 {
  background-image: url('./images/g12.jpg');
}

.p-13 {
  background-image: url('./images/p13.jpg');
}

.g-13 {
  background-image: url('./images/g13.jpg');
}

.p-14 {
  background-image: url('./images/p14.jpg');
}

.g-14 {
  background-image: url('./images/g14.jpg');
}

.p-15 {
  background-image: url('./images/p15.jpg');
}

.g-15 {
  background-image: url('./images/g15.jpg');
}

.p-16 {
  background-image: url('./images/p16.jpg');
}

.g-16 {
  background-image: url('./images/g16.jpg');
}

.p-17 {
  background-image: url('./images/p17.jpg');
}

.g-17 {
  background-image: url('./images/g17.jpg');
}

.p-18 {
  background-image: url('./images/p18.jpg');
}

.g-18 {
  background-image: url('./images/g18.jpg');
}

.p-19 {
  background-image: url('./images/p19.jpg');
}

.g-19 {
  background-image: url('./images/g19.jpg');
}

.p-20 {
  background-image: url('./images/p20.jpg');
}

.g-20 {
  background-image: url('./images/g20.jpg');
}

.p-21 {
  background-image: url('./images/p21.jpg');
}

.g-21 {
  background-image: url('./images/g21.jpg');
}

.p-22 {
  background-image: url('./images/p22.jpg');
}

.g-22 {
  background-image: url('./images/g22.jpg');
}

.p-23 {
  background-image: url('./images/p23.jpg');
}

.g-23 {
  background-image: url('./images/g23.jpg');
}

.p-24 {
  background-image: url('./images/p24.jpg');
}

.g-24 {
  background-image: url('./images/g24.jpg');
}
.p-25 {
  background-image: url('./images/p25.jpg');
}

.g-25 {
  background-image: url('./images/g25.jpg');
}
.p-26 {
  background-image: url('./images/p26.jpg');
}

.g-26 {
  background-image: url('./images/g26.jpg');
}

.p-27 {
  background-image: url('./images/p27.jpg');
}

.g-27 {
  background-image: url('./images/g27.jpg');
}

.p-28 {
  background-image: url('./images/p28.jpg');
}

.g-28 {
  background-image: url('./images/g28.jpg');
}

.g-29 {
  background-image: url('./images/g29.jpg');
}

.p-29 {
  background-image: url('./images/p29.jpg');
}

.g-30 {
  background-image: url('./images/g30.jpg');
}

.p-30 {
  background-image: url('./images/p30.jpg');
}

.g-31 {
  background-image: url('./images/g31.jpg');
}

.p-31 {
  background-image: url('./images/p31.jpg');
}

.g-32 {
  background-image: url('./images/g32.jpg');
}

.p-32 {
  background-image: url('./images/p32.jpg');
}

.g-33 {
  background-image: url('./images/g33.jpg');
}

.p-33 {
  background-image: url('./images/p33.jpg');
}

.g-34 {
  background-image: url('./images/g34.jpg');
}

.p-34 {
  background-image: url('./images/p34.jpg');
}

.p-35 {
  background-image: url('./images/p35.jpg');
}

.g-35 {
  background-image: url('./images/g35.jpg');
}

.p-36 {
  background-image: url('./images/p36.jpg');
}

.g-36 {
  background-image: url('./images/g36.jpg');
}
.p-37 {
  background-image: url('./images/p37.jpg');
}

.g-37 {
  background-image: url('./images/g37.jpg');
}
.p-38 {
  background-image: url('./images/p38.jpg');
}

.g-38 {
  background-image: url('./images/g38.jpg');
}
.p-39 {
  background-image: url('./images/p39.jpg');
}

.g-39 {
  background-image: url('./images/g39.jpg');
}
.p-40 {
  background-image: url('./images/p40.jpg');
}

.g-40 {
  background-image: url('./images/g40.jpg');
}
.p-41 {
  background-image: url('./images/p41.jpg');
}

.g-41 {
  background-image: url('./images/g41.jpg');
}
.p-42 {
  background-image: url('./images/p42.jpg');
}

.g-42 {
  background-image: url('./images/g42.jpg');
}
.p-43 {
  background-image: url('./images/p43.jpg');
}

.g-43 {
  background-image: url('./images/g43.jpg');
}
.p-44 {
  background-image: url('./images/p44.jpg');
}

.g-44 {
  background-image: url('./images/g44.jpg');
}
.p-45 {
  background-image: url('./images/p45.jpg');
}

.g-45 {
  background-image: url('./images/g45.jpg');
}

.p-46 {
  background-image: url('./images/p46.jpg');
}

.g-46 {
  background-image: url('./images/g46.jpg');
}

.p-47 {
  background-image: url('./images/p47.jpg');
}

.g-47 {
  background-image: url('./images/g47.jpg');
}

.p-48 {
  background-image: url('./images/p48.jpg');
}

.g-48 {
  background-image: url('./images/g48.jpg');
}

.p-49 {
  background-image: url('./images/p49.jpg');
}

.g-49 {
  background-image: url('./images/g49.jpg');
}

.p-50 {
  background-image: url('./images/p50.jpg');
}

.g-50 {
  background-image: url('./images/g50.jpg');
}

.p-51 {
  background-image: url('./images/p51.jpg');
}

.g-51 {
  background-image: url('./images/g51.jpg');
}

.p-52 {
  background-image: url('./images/p52.jpg');
}

.g-52 {
  background-image: url('./images/g52.jpg');
}

.p-53 {
  background-image: url('./images/p53.jpg');
}

.g-53 {
  background-image: url('./images/g53.jpg');
}

.p-54 {
  background-image: url('./images/p54.jpg');
}

.g-54 {
  background-image: url('./images/g54.jpg');
}

.p-55 {
  background-image: url('./images/p55.jpg');
}

.g-55 {
  background-image: url('./images/g55.jpg');
}

.p-56 {
  background-image: url('./images/p56.jpg');
}

.g-56 {
  background-image: url('./images/g56.jpg');
}

.p-57 {
  background-image: url('./images/p57.jpg');
}

.g-57 {
  background-image: url('./images/g57.jpg');
}

.p-58 {
  background-image: url('./images/p58.jpg');
}

.g-58 {
  background-image: url('./images/g58.jpg');
}

.p-59 {
  background-image: url('./images/p59.jpg');
}

.g-59 {
  background-image: url('./images/g59.jpg');
}

.p-60 {
  background-image: url('./images/p60.jpg');
}

.g-60 {
  background-image: url('./images/g60.jpg');
}

.p-61 {
  background-image: url('./images/p61.jpg');
}

.g-61 {
  background-image: url('./images/g61.jpg');
}

.p-62 {
  background-image: url('./images/p62.jpg');
}

.g-62 {
  background-image: url('./images/g62.jpg');
}

.p-63 {
  background-image: url('./images/p63.jpg');
}

.g-63 {
  background-image: url('./images/g63.jpg');
}

.p-64 {
  background-image: url('./images/p64.jpg');
}

.g-64 {
  background-image: url('./images/g64.jpg');
}

.p-65 {
  background-image: url('./images/p65.jpg');
}

.g-65 {
  background-image: url('./images/g65.jpg');
}

.p-66 {
  background-image: url('./images/p66.jpg');
}

.g-66 {
  background-image: url('./images/g66.jpg');
}

.p-67 {
  background-image: url('./images/p67.jpg');
}

.g-67 {
  background-image: url('./images/g67.jpg');
}

.p-68 {
  background-image: url('./images/p68.jpg');
}

.g-68 {
  background-image: url('./images/g68.jpg');
}

.p-69 {
  background-image: url('./images/p69.jpg');
}

.g-69 {
  background-image: url('./images/g69.jpg');
}

.p-70 {
  background-image: url('./images/p70.jpg');
}

.g-70 {
  background-image: url('./images/g70.jpg');
}

.p-71 {
  background-image: url('./images/p71.jpg');
}

.g-71 {
  background-image: url('./images/g71.jpg');
}

.p-72 {
  background-image: url('./images/p72.jpg');
}

.g-72 {
  background-image: url('./images/g72.jpg');
}

.p-73 {
  background-image: url('./images/p73.jpg');
}

.g-73 {
  background-image: url('./images/g73.jpg');
}

.p-74 {
  background-image: url('./images/p74.jpg');
}

.g-74 {
  background-image: url('./images/g74.jpg');
}

.p-75 {
  background-image: url('./images/p75.jpg');
}

.g-75 {
  background-image: url('./images/g75.jpg');
}

.p-76 {
  background-image: url('./images/p76.jpg');
}

.g-76 {
  background-image: url('./images/g76.jpg');
}

.p-77 {
  background-image: url('./images/p77.jpg');
}

.g-77 {
  background-image: url('./images/g77.jpg');
}
.p-78 {
  background-image: url('./images/p78.jpg');
}

.g-78 {
  background-image: url('./images/g78.jpg');
}
.p-79 {
  background-image: url('./images/p79.jpg');
}

.g-79 {
  background-image: url('./images/g79.jpg');
}

.p-80 {
  background-image: url('./images/p80.jpg');
}

.g-80 {
  background-image: url('./images/g80.jpg');
}

.p-81 {
  background-image: url('./images/p81.jpg');
}

.g-81 {
  background-image: url('./images/g81.jpg');
}

.p-82 {
  background-image: url('./images/p82.jpg');
}

.g-82 {
  background-image: url('./images/g82.jpg');
}

.p-83 {
  background-image: url('./images/p83.jpg');
}

.g-83 {
  background-image: url('./images/g83.jpg');
}

.p-84 {
  background-image: url('./images/p84.jpg');
}

.g-84 {
  background-image: url('./images/g84.jpg');
}

.p-85 {
  background-image: url('./images/p85.jpg');
}

.g-85 {
  background-image: url('./images/g85.jpg');
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 0;
	list-style: none;
	text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	margin: 0;
	min-width: 320px;
  height: 32vw;
	width: 50%;
	background: #473500;
	text-align: center;
	cursor: pointer;
}

.grid figure.thailand {
	position: relative;
	overflow: hidden;
	margin: 0;
	min-width: 320px;
  height: 32vw;
	width: 50%;
	background: #202647;
	text-align: center;
	cursor: pointer;
}

.grid figure.laos {
	position: relative;
	overflow: hidden;
	margin: 0;
	min-width: 320px;
  height: 32vw;
	width: 50%;
	background: #20473a;
	text-align: center;
	cursor: pointer;
}

.grid figure.cambodia {
	position: relative;
	overflow: hidden;
	margin: 0;
	min-width: 320px;
  height: 32vw;
	width: 50%;
	background: #474320;
	text-align: center;
	cursor: pointer;
}

.grid figure .picture {
	position: relative;
	display: block;
	width: 100%;
  height: 100%;
	opacity: 0.8;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
  opacity: 0;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico .picture {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover .picture {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 10%;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p,
figure.effect-chico h2 {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	padding: 60px 0;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p,
figure.effect-chico:hover h2 {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 50em) {
  .myanmar {
    flex-direction: column;
    height:900px;
    justify-content: flex-start;
  }
  .country-link {
    width: 75%;
  }
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 0 auto;
		width: 100%;
    min-height: 280px;
	}

  .grid figure.thailand {
		display: inline-block;
		float: none;
		margin: 0 auto;
		width: 100%;
    min-height: 280px;
	}

  .grid figure.laos {
    display: inline-block;
    float: none;
    margin: 0 auto;
    width: 100%;
    min-height: 280px;
  }

  .grid figure.cambodia {
    display: inline-block;
    float: none;
    margin: 0 auto;
    width: 100%;
    min-height: 280px;
  }

  figcaption h2 {
    font-size: 22px;
  }

  .main {
    height: 400px;
  }

  .title {
    top: 150px;
    padding-top: 0;
  }

  .subtitle {
    top: 250px;
    padding-top: 0;
    padding: 0 30px;
  }
}
